@page "/annual-statements"
@implements IDisposable
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization;
@using RACE2.FrontEndWebServer.Components;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<FeedbackSurvey />
<div class="govuk-width-container ">
    <a class="govuk-back-link" @onclick="goback">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <!--
        <div class="login-nav">
          <ul class="login-nav__list">
            <li class="login-nav__list-item-new"><a href="account?returnURL=dashboard-submitted"
                class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
            <li class="login-nav__list-item-new"><a href="#"
                class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
          </ul>
        </div> -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl">
                        Your annual statements
                    </h1>
                    <div class="govuk-!-margin-bottom-6">
                        <button class="govuk-button govuk-button" data-module="govuk-button" @onclick=@(args => GoToNextPage())>
                            Start a new statement
                        </button>
                    </div>
             </div>

           <div class="govuk-grid-column-full">
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <Tabs OnTabChanged="OnTabChanged">
                        <Tab Text="Submitted" Value="Submitted"  >
                                <div class="govuk-tabs__panel" id="submitted">
                                    <table class="govuk-table govuk-!-margin-top-0" style="border: 1px solid grey">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-half">Reservoir name</th>
                                                <th scope="col" class="govuk-table__header app-custom-class">Date last edited</th>
                                                <th scope="col" class="govuk-table__header app-custom-class">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                        @foreach (var reservoirstatus in ReservoirStatusLinkedToUserSubmitted)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link govuk-link--no-visited-state" @onclick=@(args => gotoSubmissionPage(reservoirstatus))>
                                                        @reservoirstatus.PublicName
                                                    </a>
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @reservoirstatus.SubmittedOn.ToShortDateString()
                                                </td>
                                                <td class="govuk-table__cell">
                                                    <strong class="govuk-tag govuk-tag--turquoise">
                                                        @reservoirstatus.Status
                                                    </strong>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                        </Tab>
                        <Tab Text="Drafts" Value="Drafts">
                                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="drafts">
                                    <table class="govuk-table govuk-!-margin-top-0" style="border: 1px solid grey">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-half">Reservoir name</th>
                                                <th scope="col" class="govuk-table__header app-custom-class">Date last edited</th>
                                                <th scope="col" class="govuk-table__header app-custom-class">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                        @foreach (var reservoirstatus in ReservoirStatusLinkedToUserDraft)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link govuk-link--no-visited-state" @onclick=@(args => gotoPage(reservoirstatus))>
                                                        @reservoirstatus.PublicName
                                                    </a>
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @reservoirstatus.SubmittedOn.ToShortDateString()
                                                </td>
                                                <td class="govuk-table__cell">
                                                    <strong class="govuk-tag govuk-tag--turquoise">
                                                        @reservoirstatus.Status
                                                    </strong>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                        </Tab>
                    </Tabs>
             </div>
        </div>
        </div>
    </main>
</div>