@page "/annual-statements"
@implements IDisposable
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization
@using RACE2.FrontEndWebServer.Components
RACE2.FrontEndWebServer
@using RACE2.Dto
@using RACE2.DataModel
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<HeaderWithBanner />

<div class="govuk-width-container ">

     <FeedbackBannerSignOut />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">
                    Your annual statements
                </h1>

@*                 <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                <EditForm Model="@ReservoirsLinkedToUserForDisplay" method="get" novalidate="">

                                    <div class="search-wrapper govuk-form-group">
                                        <label for="search-applications" class="govuk-label">Search by reservoir name</label>
                                       
                                        <div class="search-input-wrapper">
                                            <InputText @bind-Value="@_searchString" id="search-applications" name="search" style="height:50px;" title="Search" class="govuk-input" 
                                            @onkeydown="@SearchOnEnter"/>

                                            <div class="search-input-submit-wrapper">
                                                <button type="button" class="search-submit" @onclick=@(args => FilterData(@_searchString))>Search</button>
                                            </div>
                                        </div>
                                    </div>

                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div> *@

                <table class="govuk-table govuk-!-margin-top-4">

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row govuk-body govuk-!-font-size-16">

                            <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                                <button aria-label="Sort by Reservoir" type="button" class="icon-sort-button"
                                        onclick="@(() => SortTable("ReservoirName"))">
                                    Reservoir
                                    <div class="icon-sort"></div>
                                </button>
                            </th>

                            <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                                <button aria-label="Sort by Undertaker" type="button" class="icon-sort-button"
                                        onclick="@(() => SortTable("UndertakerName"))">
                                    Undertaker
                                    <div class="icon-sort"></div>
                                </button>
                            </th>

                            <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                                <button aria-label="Sort by Due date" type="button" class="icon-sort-button"
                                        onclick="@(() => SortTable("DueDate"))">
                                    Due date
                                    <div class="icon-sort"></div>
                                </button>
                            </th>

                            <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                                <button aria-label="Sort by Status" type="button" class="icon-sort-button"
                                        onclick="@(() => SortTable("Status"))">
                                    Status
                                    <div class="icon-sort"></div>
                                </button>
                            </th>

                            <th scope="col" class="govuk-table__header app-custom-class"></th>

                            <th scope="col" class="govuk-table__header app-custom-class"></th>
                        </tr>

                    </thead>

                    <tbody class="govuk-table__body govuk-body govuk-!-font-size-16">
                        @foreach (var reservoir in ReservoirsLinkedToUserForDisplay)
                        {
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">@reservoir.ReservoirName</td>
                                <td class="govuk-table__cell">@reservoir.UndertakerName</td>
                                <td class="govuk-table__cell">@reservoir.DueDate</td>
                                <td class="govuk-table__cell">
                                    <strong class="not-started-tag-new">
                                        @reservoir.Status
                                    </strong>
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state" href="annual-statements" @onclick="()=>DownloadTemplateFile(reservoir)">Download</a>
                                </td>
                            </tr>
                        }                   
                    </tbody>
                </table>

            </div>

        </div>

    </main>
</div>
