@page "/confirm-operator"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Microsoft.AspNetCore.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<div class="govuk-width-container ">
    <a class="govuk-back-link" @onclick="goback">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check the operator's details match your records</h1>

                    <div id="event-name-hint" class="govuk-hint govuk-!-margin-bottom-8">
                        'Operator' is used here to mean the undertaker.
                    </div>
                @if (OperatorDetails == null)
                {
                    <p>Loading operator details....</p>
                }
                else
                {
                    @foreach (var CurrentOperatorDetail in OperatorDetails)
                    {
                        <div class="govuk-summary-card govuk-!-margin-bottom-6">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Operator 1</h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Name
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @if (CurrentOperatorDetail.OrgName != "")
                                                @CurrentOperatorDetail.OrgName
                                            else
                                                @CurrentOperatorDetail.OperatorFirstName @CurrentOperatorDetail.OperatorlastName
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="#">
                                                    Change<span class="govuk-visually-hidden">Name</span>
                                                </a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Address
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                CurrentOperatorDetail.AddressLine1<br>CurrentOperatorDetail.Town<br>CurrentOperatorDetail.Postcode
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="#">
                                                    Change<span class="govuk-visually-hidden">Address</span>
                                                </a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Email
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                CurrentOperatorDetail.Email
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="#">
                                                    Change<span class="govuk-visually-hidden">Comments</span>
                                                </a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Phone number
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                CurrentOperatorDetail.mobile
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="#">
                                                    Change<span class="govuk-visually-hidden">Phone number</span>
                                                </a>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                    }
                }
                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                            Do you need to add another operator?
                        </legend>
                    </fieldset>
                </div>
                <div class="govuk-radios govuk-radios--inline">
                    <EditForm Model="@_yesnoOption" OnSubmit="GoToNextPage">
                        <InputRadioGroup Name="statnonstat" @bind-Value="_yesnoOption.YesNoOptions">
                            @foreach (Enum value in Enum.GetValues(typeof(YesNoClass.YesNoEnum)))
                            {
                                <span class="govuk-radios__item">
                                    <InputRadio Value="@value" class="govuk-radios__input" />
                                    <span class="govuk-label govuk-radios__label">@value</span>
                                </span>
                            }
                        </InputRadioGroup>
                    </EditForm>
                </div>
                <div style="padding-top:10px;">
                    <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4" @onclick=@(args => GoToNextPage())>
                        Continue
                    </button>
                    <button class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                            data-module="govuk-button" @onclick=@(args => GoToSaveComebackLaterPage())>
                        Save and come back later
                    </button>
                </div>
            </div>
        </div>

        </main>
</div>



