@page "/send-your-statement-to-someone-else"
@using Microsoft.AspNetCore.Authorization
@using RACE2.FrontEndWebServer.Components
@using RACE2.Dto
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

@attribute [Authorize]

<PageTitle>Who the statement will go to - Send a supervising engineer's annual statement - GOV.UK</PageTitle>

<HeaderWithBanner />

<div class="govuk-width-container" style="min-height: 69vh;">

    <FeedbackBannerSignOut />

    <main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <a class="govuk-back-link" @onclick="GoToPrevPage" style="color:black">Back</a>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-three-fourths">
                @if (!YesNoError)
                {
                    <div class="govuk-form-group">
                        <h1 href="#main-header" class="govuk-heading-xl">
                            Send the statement to someone else instead
                        </h1>

                        <EditForm Model="@_yesno" OnSubmit="GoToNextPage">
                            <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-margin-bottom-4">
                                <fieldset class="govuk-fieldset" aria-describedby="send-to-undertaker">

                                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                        <InputRadioGroup Name="yesno" @bind-Value="_yesno.YesNoOptions">
                                            @foreach (Enum value in Enum.GetValues(typeof(YesNoClass.YesNoEnum)))
                                            {
                                                <div class="govuk-radios__item">
                                                    <InputRadio Value="@value" class="govuk-radios__input" />
                                                    <span class="govuk-label govuk-radios__label">@value</span>
                                                </div>
                                            }

                                        </InputRadioGroup>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" draggable="false"
                                    class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                                    data-module="govuk-button">
                                Continue
                            </button>
                        </EditForm>

                    </div>
                }
                else
                {
                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>
                                        <a href="#">Select yes if you want to send the statement to someone else instead or no</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                        <h1 class="govuk-fieldset__heading">
                            Send the statement to someone else instead
                        </h1>
                    </legend>
                    <EditForm Model="@_yesno" OnSubmit="GoToNextPage">
                        <div class="govuk-form-group govuk-form-group--error govuk-!-margin-bottom-4">
                            <fieldset class="govuk-fieldset" aria-describedby="where-do-you-live-error">
                                <p id="where-do-you-live-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    Select yes if you want to send the statement to someone else instead or no
                                </p>
                                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                    <InputRadioGroup Name="yesno" @bind-Value="_yesno.YesNoOptions">
                                        @foreach (Enum value in Enum.GetValues(typeof(YesNoClass.YesNoEnum)))
                                        {
                                            <div class="govuk-radios__item">
                                                <InputRadio Value="@value" class="govuk-radios__input" />
                                                <span class="govuk-label govuk-radios__label">@value</span>
                                            </div>
                                        }

                                    </InputRadioGroup>
                                </div>
                            </fieldset>
                        </div>
                        <button type="submit" draggable="false"
                                class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                                data-module="govuk-button">
                            Continue
                        </button>
                    </EditForm>
                }
            </div>
        </div>
    </main>
</div>

<Footer />

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    public ReportSubmissionDataDto reportSubmissionData { get; set; } = new ReportSubmissionDataDto();

    protected async override Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateTask;// AuthenticationStateProvider.GetAuthenticationStateAsync();
        var reportSubmissionDataState = await ProtectedSessionStore.GetAsync<ReportSubmissionDataDto>("CurrentReportSubmissionData");
        reportSubmissionData = reportSubmissionDataState.Value;
        await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        await base.OnInitializedAsync();
    }
    private YesNoClass _yesno = new YesNoClass();
    private bool YesNoError { get; set; } = false;

    public async Task GoToNextPage()
    {
        if (_yesno.YesNoOptions == 0)
        {
            YesNoError = true;
            StateHasChanged();
        }
        else
        {
            YesNoError = false;
            var savedReportSubmissionData = await ProtectedSessionStore.GetAsync<ReportSubmissionDataDto>("CurrentReportSubmissionData");
            savedReportSubmissionData.Value.YesNoValueSomeoneElse = _yesno.YesNoOptions.ToString();
            savedReportSubmissionData.Value.YesNoValueSomeoneAlso = "0";
            await ProtectedSessionStore.SetAsync("CurrentReportSubmissionData", savedReportSubmissionData.Value);
            bool forceLoad = false;
            if (_yesno.YesNoOptions.ToString() == "No")
                NavigationManager.NavigateTo("/upload-your-template", forceLoad);
            else
                NavigationManager.NavigateTo("/enter-emails", forceLoad);
        }
    }
    public void GoToMyAccountPage()
    {
        bool forceLoad = true;
        string pagelink = "/my-account";
        NavigationManager.NavigateTo(pagelink, forceLoad);
    }
    public void GoToPrevPage()
    {
        bool forceLoad = true;
        string pagelink = "/send-your-statement";
        NavigationManager.NavigateTo(pagelink, forceLoad);
    }
    public void GoToAnnualStatementsPage()
    {
        bool forceLoad = true;
        string pagelink = "/annual-statements";
        NavigationManager.NavigateTo(pagelink, forceLoad);
    }

    public class YesNoClass
    {
        public enum YesNoEnum { Yes = 1, No = 2 };
        public YesNoEnum YesNoOptions = 0;
    }
}